@charset "UTF-8";
.intro {
  font-family: "Noto Sans JP","游ゴシック","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  padding: 3px; }

.intro__button {
  padding: 20px;
  background-color: white;
  border-color: black; }

.intro {
  font-family: "Noto Sans JP","游ゴシック","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
  padding: 3px; }

.intro__button {
  padding: 20px;
  background-color: white;
  border-color: black; }
