.rworks__header-title {
  text-align: center; }

.rworks__image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.rworks__image-section img {
  width: 300px;
  height: 300px; }

.rworks__image-segment {
  display: flex;
  flex-direction: column;
  align-items: center; }

.rworks__image {
  position: relative;
  width: 300px;
  height: 300px; }

.rworks__shadowImage {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 15px;
  left: 15px;
  z-index: -1; }

.rworks__image-title {
  padding: 10px; }

.rworks__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.rworks__button-seeFullWorks {
  width: 40%;
  height: 50px;
  border: darkblue 1px solid;
  background: white; }

.rworks__button-seeExhibitions {
  width: 60%;
  height: 50px;
  margin-top: 10px;
  border: darkblue 1px solid;
  background: white; }
