.header__header {
    position: fixed;
    width: 100%;
    display: flex;
    height: 10%;
    justify-content: space-between;
}

.header__menu__button {

}

.header__logo {
    height: 30%;
    width: 30%;
}

.header__nav__link {
    font-size: 1.2rem;
    margin-right: 3%;
}