.intro {

    font-family:"Noto Sans JP","游ゴシック","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;

    padding: 3px;



}

.intro__img {

    width: 100%;
    border-color: red;
}

.intro__text {
    color: black;  

}


.intro__button {

    padding: 20px;
    background-color: white;
    border-color: black;

}


