p {
    color: blue;
    background-color: cornflowerblue;
    font-size: 72;
<<<<<<< HEAD
    border: grey solid 20px;

=======
    border: pink dashed 20px;
>>>>>>> 13f0676b5e82d755d96137a0154cccf52dd9a4ac
}
